.auth-page {
    min-height: 100vh;
    background: #020617;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    z-index: 500;
}

.auth-container {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 450px;
    gap: 50px;
    align-items: center;
}

.auth-left h1 {
    font-size: 4rem;
    color: white;
    line-height: 1.1;
}

.auth-left h1 span {
    color: #22d3ee;
}

.auth-left p {
    margin-top: 20px;
    color: #94a3b8;
    font-size: 1.1rem;
    max-width: 500px;
}

.auth-badge {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 999px;
    background: rgba(34, 211, 238, 0.15);
    color: #22d3ee;
    margin-bottom: 20px;
}

.auth-features {
    margin-top: 30px;
    display: grid;
    gap: 12px;
    color: white;
}

.auth-card {
    background: rgba(15, 23, 42, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.08);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 24px;
    padding: 35px;
}

.auth-tabs {
    display: flex;
    margin-bottom: 25px;
}

.auth-tabs button {
    flex: 1;
    padding: 12px;
    background: transparent;
    color: #94a3b8;
    border: none;
    cursor: pointer;
}

.auth-tabs .active {
    background: #22d3ee;
    color: #020617;
    border-radius: 12px;
    font-weight: 700;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-form input {
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #334155;
    background: #0f172a;
    color: white;
}

.auth-btn {
    background: linear-gradient(135deg,
            #22d3ee,
            #06b6d4);
    color: #020617;
    border: none;
    padding: 14px;
    border-radius: 12px;
    font-weight: 700;
    cursor: pointer;
}

.forgot-password {
    text-align: right;
    color: #22d3ee;
    cursor: pointer;
    font-size: 14px;
}

.divider {
    text-align: center;
    margin: 25px 0;
    color: #64748b;
}

.google-btn {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #334155;
    background: transparent;
    color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.google-btn img {
    width: 20px;
}

@media(max-width:900px) {
    .auth-container {
        grid-template-columns: 1fr;
    }

    .auth-left {
        display: none;
    }
}